body{
    background-color: black;
    display: flex;
    justify-content: center;
}

#card{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .7s;
    
}

.face{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 10px;
}

#front{
    background-color: rgb(152, 240, 235);
    transform: rotateY(180deg);
    
}

#back{
    background-color: rgb(83, 134, 243);
    
}

.flip{
    transform: rotateY(180deg);
}

p{
    font: 25pt normal Arial;
}