body {
    background-color : black;
    margin: 300px;
  }
  
  .cube {
    margin: 400px 10px 10px 350px;
  }
  
  
  .red {
    background-color : red;
    mix-blend-mode : lighten;
    width: 50px;
    height: 50px;
    margin: 50px 10px 10px 1px;
    border-radius: 10px;
    border: 1px black;
    position: relative;
    animation-name: r1;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  
  .yellow {
     background-color: yellow;
     mix-blend-mode: lighten;
     width: 50px;
     height: 50px;
     margin: -60px 10px 10px 1px;
     position: relative;
     border-radius: 10px;
     border: 1px black;
     animation-name : g1;
     animation-duration: 20s;
     animation-delay: 10s;
     animation-iteration-count: infinite;
  }
  
  .blue {
     background-color : blue;
     mix-blend-mode : lighten;
     width: 50px;
     height: 50px;
     margin: -60px 10px 10px 1px;
     position: relative;
     border-radius: 10px;
     border: 1px black;
     animation-name : b1;
     animation-duration: 20s;
     animation-delay: 16s;
     animation-iteration-count: infinite;
  }
  
  @keyframes r1 {
    0% {left: 0px; top: 0px;}
    25% {left : 55px; top: 0px;}
    50% {left: 55px; top: 55px;}
    75% {left: 0px; top: 55px;}
    100% {left: 0px; top: 0px;}
    
  }
    
    @keyframes g1 {
    0% { left: 0px ; top: 0px ;}
    25% { left: 55px ; top: 0px ;}
    50% { left: 55px ; top: 55px ;}
    75% { left: 0px ; top: 55px ;}
    100% { left: 0px ; top: 0px ;}
    }
  
   @keyframes b1 {
    0% { left: 0px ; top: 0px ;}
    25% { left: 55px ; top: 0px ;}
    50% { left:55px ; top: 55px ;}
    75% { left: 0px ; top: 55px ;}
    100% { left: 0px ; top: 0px ;}
    }